* {
	border: 2px solid red;
}

    body {
        
        margin: 0px;
      }


.flex-container {
    display: flex;
    flex-direction: column;
    /* height:100vh; */
    
}

.items-header-text {
    flex: 1 1 auto;
    height: auto;

}
    
.top_section {
    height: 350px;
   

}

.info_cards_section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    
    
}

.info_cards {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 350px;
    gap: 50px;
    padding: 16px;


}

.item {
    
    align-items: center;
    width: 190px;
    height:190px;
    border: 4px solid rgb(33, 103, 150);
    border-radius: 25px;
    gap: 80px;
    
}

.testimonials_section {
    flex: 1 1 auto;
    background-color: lightgrey;
    height: auto;
    font-style:italic
    
}

.footer_section{
    flex: 1 1 auto;
    height: 140px;
}


h2 {
    font-size:36px;
    font-weight:bolder;
    padding: 0px;
    margin: 0px;

}

.quote_author {
    font-size: 12px;
}

.quote{
    font-size: 36px;
}



.header_logo {
    display: block;
    width: 84px;
    height: 84px;
    
    
}

.header_link {
    

    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.nav_bar {
    
    height: 80px;
    padding: 20px 0px 20px 100px;
    flex-direction: row;
    align-items: center;
    display: flex;
    
    
  

}