/* for dekstop */
@media only screen and (min-width: 601px) {

* {
	/* border: 2px solid red; */
}

    body {
        
        margin: 0px;
      }


.main-page-form {

        display: flex;
        flex-direction: row;
        height: 1200px;
        
}

.side_image_section
{
    height: 100%;
    width: 50%;
    align-items: center;

}

.side_image
{
    
    height: 1000px;
    max-width: 100%;
    object-fit: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    /* height:100vh; */
    
}

.items-header-text {
    flex: 1 1 auto;
    height: auto;

}
    
.top_section {
    margin-top: 80px;
    height: 650px;
    background-color: #1f2937;
    position: static; /* Set the navbar to fixed position */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   



}

.company_name {
    display: flex;
    font-size: 40px;
    
    color: white;
    font-weight: 300;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.info_cards_section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    
    
}

.info_cards {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 380px;
    gap: 50px;
    padding: 16px;


}

.item {
    
    align-items: center;
    width: 190px;
    height:190px;
    border: 4px solid rgb(33, 103, 150);
    border-radius: 25px;
    gap: 80px;
    
}

.testimonials_section {
    flex: 1 1 auto;
    background-color: lightgrey;
    height: auto;
    font-style:italic;
    display: flex;
    flex-direction: column;
    text-align:right;
    height:400px;
    justify-content: center;

    
}

.footer_section{
    flex: 1 1 auto;
    height: 140px;
}


h2 {
    font-size:36px;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 0px;
    margin-top: 40px;

    animation-duration: 3s;
    animation-name: slidein;
    overflow:hidden
}

@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }



.quote_author {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    font-style: normal;
    align-items: center;
    margin: 0;
    padding: 0px 550px 0px 0px;
    
}

.quote{
    font-size: 36px;
    color:#1f2937;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    
}



.header_logo {
    display: block;
    width: 130px;
    height: 130px;
    
    
}

.header_link {
    

    display: flex;
    margin-left: auto;
    padding: 0px 200px 0px 0px;
    gap: 20px;
    
}

a {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #f9faf8;
    text-decoration: none;
    
        transition: color 200ms ease-in 50ms;
        
    }

    a:hover {
        color: rgb(0, 119, 255);
        transition: color 200ms ease-out 50ms;
    }







.nav_bar {
    
    height: 80px;
    padding: 20px 0px 20px 100px;
    flex-direction: row;
    align-items: center;
    display: flex;
    background-color: #060607;
    width: 100%; /* Full width */
    /* border-bottom: 1px darkgrey;
    
    border-style: solid; */

    position: fixed; 
    top: 0; 

    
  

}

.Website_Description
{
    margin-top: 102px;
    height: 250px;
    display: flex;
    flex-direction: column;
    
}

.Website_Description_SubText_1
{
    height: 350px;
    width: 400px;
    
    margin-left: 200px;
    margin-right: 200px;
}



.top_area_image {
    margin-right: 300px;
    padding: 0px 0px 0px 200px;
    border-radius: 20px;
}

h3 {
    font-size:36px;
    font-weight:900;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}

h4 {
    font-size:18px;
    font-weight:100;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}

.trip_availability {
    background-color: darkgreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    border-radius: 10px;
    
  }


  /* Source:   https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
.trip_availability:hover {
    background-color: #3e8e41
}

.trip_availability:active {
background-color: #3e8e41;
}



.item_image{

    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border: 3px black;
    border-style:solid;
    border-radius: 23px;
    gap: 80px;
    background-color: #000;

}

.footer{
    text-align: right; 
    padding-right: 50px;
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;

}





}


/* for mobile */
@media only screen and (max-width: 600px) {

    * {
        /* border: 2px solid red; */
    }
    
    body {
        
        margin: 0px;
        }
    
    
    .flex-container {
        display: flex;
        flex-direction: column;
        /* height:100vh; */
        
    }
    
    .items-header-text {
        flex: 1 1 auto;
        height: auto;
    
    }
        
    .top_section {
        margin-top: 80px;
        height: 800px;
        background-color: #1f2937;
        position: static; /* Set the navbar to fixed position */
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        
       
    
    }

    
.company_name {
    display: flex;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 300;
    margin-left: auto;
    
    
}
    
    .info_cards_section {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    
        
        
    }
    
    .info_cards {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 50px;
        padding: 16px;
    
    
    }
    
    .item {
        
        align-items: center;
        width: 190px;
        height:190px;
        border: 4px solid rgb(33, 103, 150);
        border-radius: 25px;
        gap: 80px;
        
    }
    
    .testimonials_section {
        flex: 1 1 auto;
        background-color: lightgrey;
        height: auto;
        font-style:italic;
        display: flex;
        flex-direction: column;
        text-align:right;
        height:400px;
        justify-content: center;
    
        
    }
    
    .footer_section{
        flex: 1 1 auto;
        height: 140px;
    }
    
    
    h2 {
        font-size:28px;
        font-weight:600;
        font-family: Arial, Helvetica, sans-serif;
        padding: 30px;
        margin: 0px;
        margin-top: 40px;

        animation-duration: 3s;
        animation-name: slidein;
        overflow:hidden
    }
    
    @keyframes slidein {
        from {
          margin-right: 100%;
          width: 300%;
        }
      
        to {
          margin-right: 0%;
          width: 100%;
        }
      }
   

    .quote_author {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:900;
        font-style: normal;
        align-items: center;
        margin: 0;
        margin-right: 20px;
        
    }
    
    .quote{
        font-size: 24px;
        color:#1f2937;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        margin-right: 14px;
        margin-left: 15px;
    }
        
   
    
    
    .header_logo {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 35px;
        
    }
    
    .header_link {
        
    
        display: flex;
        font-size: 10px;
        flex-direction: row;
        padding-left: 60px;
        gap: 20px;        
        
    }
    
    a {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #f9faf8;
        text-decoration: none;

        transition: color 200ms ease-in 50ms;
        
    }

    a:hover {
        color: rgb(0, 119, 255);
        transition: color 200ms ease-out 50ms;
    }
    
    
    .nav_bar {
        
        height: 120px;
        padding: 20px 0px 20px 10px;
        flex-direction: row;
        align-items: center;
        display: flex;
        background-color: #060607;
        width: 100%; /* Full width */
        /* border-bottom: 1px darkgrey;
        
        border-style: solid; */
        position: fixed; /* Set the navbar to fixed position */
        top: 0; 
        
        
      
    
    }
    
    .Website_Description
    {
        margin-top: 102px;
        height: 250px;
        display: flex;
        flex-direction: column;
        
    }
    
    .Website_Description_SubText_1
    {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    
    
    
    .top_area_image {
        margin-top: 40px;
        width: 320px;
        border-radius: 20px;
    }
    

    h3 {
        font-size:36px;
        font-weight:900;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    
    }
    
    h4 {
        font-size:18px;
        font-weight:100;
        color: #e5e7eb;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    
    .trip_availability {
        background-color: darkgreen; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        
        font-size: 16px;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        
      }
    
    
      /* Source:   https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
    .trip_availability:hover {
        background-color: #3e8e41
    }
    
    .trip_availability:active {
    background-color: #3e8e41;
    }
    
    
    
    .item_image{
    
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 240px;
        border: 3px black;
        border-style:solid;
        border-radius: 23px;
        gap: 80px;
        background-color: #000;
    
    }


    .footer{

         font-style: normal; 
         font-family: Arial, Helvetica, sans-serif;
         align-self: stretch;
         color: white;
         background-color: black;
     
    }
   

    
    }

